 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #FFFFFF;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

}

main {
    flex-grow: 1;
}

#PremierProjet {
    margin-left: 10px;
}

#DernierProjet {
    margin-right: 10px;
}

.blockProjet {
    background-color: rgba(255, 255, 255, 0.266);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tailleImage {
    width: 300px;
    height: 400px;
    border-radius: 7px;
    overflow: hidden;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h2 {
    text-align: center;
    color: #FFFFFF;
}

#caroussel {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow: hidden;
    width: 100%;
    padding: 0px;
}


li {
    list-style: none;
}

footer {
    text-align: center;
    padding-bottom: 10px;
}

@media screen and (min-width:500px) {
    .thumbnail{
        height: 200px;
        width: 300px;
    }
    
}